BLOCKCHAIN_RPC_URL=http://3.135.48.168:9650/ext/bc/eK9ozzBCmtbh89Rb4tzX9kwFwQekG6wA7ggwzgaUJp78ChunJ/rpc
AWS_PROFILE=sandbox
TOKEN_IDENTIFIER='bear-market'
TOKEN_CREATOR_ADDRESS='The address of the creator'
TOKEN_MAX_TOTAL_SUPPLIES=100000
TOKEN_REWARD_TIER_NAMES='Test Tier 1'
TOKEN_REQUIRED_REWARD_AMOUNTS=100000
TOKEN_URIS=https://example.com/token/123/meta.json